<!DOCTYPE HTML>
<html>
<head>
<title>Quotes Admin</title>
<link rel="stylesheet" href="css/styles.css" />
</head>

<body>

<div id="sidebar"></div>

<div id="sidebarfooter"><span class="title">Quotes Admin11</span></div>

<div id="sidebardetails"></div>

<div id="contentlist"></div>

<div id="contentlistfooter"></div>

<div id="content"></div>

<!--------------->
<!-- Templates -->
<!--------------->
<script type="text/template" id="tpl-quote-actions">
	<label>Quote:</label>
	<button class="add">Add</button>
</script>

<script type="text/template" id="tpl-qoute_origins-list-item">	
	<a href='#originDetails/<%= id %>'><%= origin_text %></a>
</script>

<script type="text/template" id="tpl-origin_details">
	<label>Id:</label>
	<input type="text" id="id" name="id" value="<%= id %>" disabled />
	<label>Origin text:</label>
	<input type="text" id="name" name="text" value="<%= origin_text %>" required/>
</script>

<script type="text/template" id="tpl-qoute-list-item">
	<a href='#quoteDetails/<%= id %>'><%= quote_text %></a>
</script>

<script type="text/template" id="tpl-quote-details">
    <div class="form-left-col">
        <label>Id:</label>
        <input type="text" id="quoteId" name="id" value="<%= id %>" disabled />
        <label>Quote text:</label>
        <input type="text" id="quoteText" name="name" value="<%= quote_text %>" required/>
        <label>Language:</label>
        <input type="text" id="languageId" name="grapes" value="<%= language_id %>"/>
		<button class="save">Save</button>
    </div>
    <div class="form-right-col">
        <label>Comments:</label>
        <textarea id="comments" name="description"><%= comments %></textarea>
    </div>
</script>
<!--------------->


<!-- JavaScript -->
<script src="lib/jquery-1.7.1.min.js"></script>
<script src="lib/underscore-min.js"></script>
<script src="lib/backbone-min.js"></script>
<script src="js/main.js"></script>   

</body>
</html>