<!DOCTYPE HTML>
<html>
<head>
<title>Quotes Admin</title>
<link rel="stylesheet" href="css/styles.css" />
</head>

<body>

<div id="sidebar"></div>
<div id="content1"></div>
<div id="content2"></div>

<!-- ==============================-->
<!-- Templates -->
<!-- ==============================-->

<script type="text/template" id="tpl-origins-list">	
	<button class="addOrigin">Add Origin</button>
	<ul id="originsList"></ul>
</script>

<script type="text/template" id="tpl-origins-list-item">	
	<a href='#origins/<%= id %>'><%= origin_text %></a>
</script>

<script type="text/template" id="tpl-origin">
	<button class="saveOrigin">Save Origin</button>
	<button class="deleteOrigin">Delete Origin</button>	
	<button class="addQuote">Add Quote</button>
	<label>Id:</label>		
	<input type="text" id="originId" name="id" value="<%= id === null ? '' : id %>" disabled/>
	<label>Origin text:</label>
	<input type="text" id="originText" name="text" value="<%= origin_text %>" required/>		
	<label>Origin type:</label>
	<input type="text" id="originTypeId" name="text" value="<%= type_id %>" required/>		
	<div id="quotesListHolder"></div>
</script>

<script type="text/template" id="tpl-quotes-list">	
	<label>Quotes:</label>
	<ul id="quotesList"></ul>
</script>

<script type="text/template" id="tpl-quotes-list-item">
	<a href='#origins/<%= origin_id %>/quotes/<%= id %>'><%= quote_text %></a>
</script>

<script type="text/template" id="tpl-quote">
	<button class="saveQuote">Save Quote</button>
	<button class="deleteQuote">Delete Quote</button>	
	<label>Id:</label>
	<input type="text" id="quoteId" name="id" value="<%= id %>" disabled />
	<label>Quote text:</label>
	<input type="text" id="quoteText" name="name" value="<%= quote_text %>" required/>
	<label>Language:</label>
	<input type="text" id="languageId" name="grapes" value="<%= language_id %>"/>		
	<label>Comments:</label>
	<textarea id="comments" name="description"><%= comments %></textarea>		
</script>


<!-- ==============================-->
<!-- JavaScript -->
<!-- ==============================-->

<!-- libs -->
<script src="lib/jquery-1.8.1.js"></script>
<script src="lib/underscore-min.js"></script>
<script src="lib/backbone.js"></script>
<!--<script src="lib/backbone-min.js"></script>-->

<!-- app -->
<script src="js/models/quoteModel.js"></script>   
<script src="js/models/quotesCollection.js"></script> 
<script src="js/models/originModel.js"></script>   
<script src="js/models/originsCollection.js"></script>  

<script src="js/views/quotesListItemView.js"></script>    
<script src="js/views/quotesListView.js"></script>   
<script src="js/views/quoteView.js"></script>   
<script src="js/views/originsListItemView.js"></script>  
<script src="js/views/originsListView.js"></script>  
<script src="js/views/originView.js"></script>   

<script src="js/main.js"></script>   

</body>
</html>